/* h2 {
    color: aqua;
}
p{
    color:blue;
    text-align: center;
    font-size: 25px;
}
.par {
    color:brown;
}
#last {
    color:bisque;
}
div{
    height: 200px;
    width: 200px;
    color: black;
    background-color: blueviolet;
    text-align: center;
    align-content: center;
    font-size: large;
    padding: 20px;
    margin: 100px;
    border: 1px solid red; */
/* } */
/* .jk{
    display : block
} */
 /* .container{
    display : inline-block;
    height : ;
    width : auto;
    align-content: center;
    margin : auto;
    border: 4px solid red;
 }
  .box1{
    height : auto;
    width : auto;
    align-content: center;
    margin : auto;
    border: 4px solid rgb(red, green, blue);
 }
  .box2{
    height : auto;
    width : auto;
    align-content: center;
    margin : auto;
    border: 4px solid rgb(0, 47, 255);
 }
  .box3{
    height : auto;
    width : auto;
    align-content: center;
    margin : auto;
    border: 4px solid rgb(0, 255, 85);
 } */




 /* body {
    font-family: "Times New Roman", serif;
}

.wrapper {
    border: 2px solid #555;
    margin: 40px;
    padding: 25px 40px 40px;
}

h1 {
    margin-top: 0;
    font-size: 32px;
}

.card {
    display: inline-block;
    width: 180px;
    height: 250px;
    margin: 30px 25px 0 0;
    text-align: center;
    vertical-align: top;
    padding-top: 60px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}

.card span.price {
    display: block;
    margin-top: 40px;
    font-weight: normal;
    font-size: 22px;
}

/* Individual colors */
/* .book {
    background-color: #b7be25;
}
.headphones {
    background-color: #e21d5c;
}
.watch {
    background-color: #b8e2f2;
} */ 
 .jump{
    float : left;
    background-color: aquamarine;
 }